@using CallCenterCrm.Web.Areas.Manager.Models.Statistics
@model IndexStatisticsModel

@{
    ViewBag.Title = "Statistics";
}

@section styles
{
    @Styles.Render("~/Content/kendo")
}

<h2>Statistics</h2>

<p>
    @using (@Html.BeginForm("Index", "", FormMethod.Get, new { @class = "form-horizontal" }))
    {
        <div class="row">
            <div class="form-group">
                @Html.LabelFor(c => c.CampaignId, new { @class = "control-label col-md-2 col-md-offset-2" })
                <div class="col-md-6">
                    @Html.DropDownListFor(c => c.CampaignId, Model.Campaigns, new { @class = "form-control", id = "ddlCampaign" })
                </div>
            </div>
            <input id="btnSubmit" class="hidden" type="submit" />
        </div>
    }
</p>

<h4 class="text-center">Campaign statistics</h4>

@(Html.Kendo().Grid(Model.CampaignStatistics)
    .Name("grid-campaigns")
    .Columns(columns =>
    {
        columns.Bound(c => c.SoldToTotalCalls);
        columns.Bound(c => c.SoldToTotalTime);
        columns.Bound(c => c.TotelSoldPriceToTotalTime);
        columns.Bound(c => c.NotAnsweredToTotalCalls);
    })
)

<br />
<hr />
<h4 class="text-center">Operators statistics</h4>

@(Html.Kendo().Grid(Model.OperatorsStatistics)
    .Name("grid-operators")
    .Columns(columns =>
    {
        columns.Bound(c => c.Name);
        columns.Bound(c => c.SoldToTotalTimeAll);
        columns.Bound(c => c.SoldToTotalTimeCampaign);
        columns.Bound(c => c.AverageDuration);
    })
    .Pageable()
    .Sortable()
    .Filterable()
)

@section scripts {
    @Scripts.Render("~/bundles/kendo")

    <script>
        $('#ddlCampaign').on('change', function () {
            $('#btnSubmit').click();
        })
    </script>
}
