@using CallCenterCrm.Web.Areas.Manager.Models.Statistics
@model IndexStatisticsModel

@{
    ViewBag.Title = "Statistics";
}

<h2>Statistics</h2>

<p>
    @using (@Html.BeginForm("Index", "", FormMethod.Get, new { @class="form-horizontal" }))
    {
        <div class="row">
            <div class="form-group">
                @Html.LabelFor(c => c.CampaingId, new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.DropDownListFor(c => c.CampaingId, Model.Campaigns, new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-primary">Load</button>
                </div>
            </div>
        </div>
    }
</p>

<h4 class="text-center">Campaign statistics</h4>

@(Html.Kendo().Grid(Model.CampaignStatistics)
    .Name("grid-campaigns")
    .Columns(columns =>
    {
        columns.Bound(c => c.SoldToTotalCalls);
        columns.Bound(c => c.SoldToTotalTime);
        columns.Bound(c => c.TotelSoldPriceToTotalTime);
        columns.Bound(c => c.NotAnsweredToTotalCalls);
    })
)

<br />
<hr />
<h4 class="text-center">Operators statistics</h4>

@(Html.Kendo().Grid(Model.OperatorsStatistics)
    .Name("grid-operators")
    .Columns(columns =>
    {
    columns.Bound(c => c.Name);
        columns.Bound(c => c.SoldToTotalTimeAll);
        columns.Bound(c => c.SoldToTotalTimeCampaign);
        columns.Bound(c => c.AverageDuration);
    })
    .Pageable()
    .Sortable()
    .Filterable()
)
