@model CallCenterCrm.Data.Models.CallResult

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CallResult</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Campaign.Product)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Campaign.Product)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Operator.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Operator.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CallDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CallDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeletedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeletedOn)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CallResultId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
