@model CallCenterCrm.Web.Areas.Administration.Models.Office.IndexViewModel

@{
    ViewBag.Title = "Offices";
}

<h2>Offices</h2>

<p>
    @Html.ActionLink("Add", "Create", null, new { @class = "btn btn-default" })
</p>

@using (@Ajax.BeginForm("Update", new AjaxOptions()
{
    HttpMethod = "Get",
    UpdateTargetId = "offices-table",
    InsertionMode = InsertionMode.Replace
}))
{
    <div class="row">
        <div class="col-md-6">
            @Html.TextBox("tbSearch", "", new { @class = "form-control", placeholder = "Search in office and manager name" })
        </div>
        <div class="col-md-2">
            <button id="btnUpdate" type="submit" class="btn btn-default">Search</button>
        </div>
        <input id="tbPageIndex" type="hidden" name="pageIndex" value="0" />
    </div>
    <br />
}

<div id="offices-table">
    @Html.Partial("_OfficesTable", Model)
</div>

<!-- Modal -->
<div class="modal" id="modalConfirmDelete" tabindex="-1" role="dialog" data-backdrop="false" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
            </div>
            <div class="modal-body">
                Delete office?
            </div>
            <div class="modal-footer">
                <form method="post" action="@this.Url.Action("Delete")">
                    @Html.AntiForgeryToken()
                    <input id="deleteId" type="hidden" name="id" />
                    <input type="submit" value="Delete" class="btn btn-primary" />
                    <button type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryajax")

    <script>
        $(document).ready(function () {
            $("#offices-table").on("click", ".btnDelete", function () {
                var id = $(this).data("id");
                $("#deleteId").val(id);
            });
            $("#offices-table").on("click", ".btnPaging", function () {
                var pageId = $(this).data("page");
                $("#tbPageIndex").val(pageId);
                $("#btnUpdate").click();
                return false;
            });
        });
    </script>
}
