@using CallCenterCrm.Web.Areas.Administration.Models
@model IndexViewModel

<table class="table table-bordered table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Users.First().UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Users.First().Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Users.First().PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Users.First().Office)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Users.First().Role)
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model.Users)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Office)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-sm btn-success" })
                <button class="btn btn-sm btn-danger btnDelete" data-toggle="modal" data-target="#modalConfirmDelete"
                        data-id="@item.Id">
                    Delete
                </button>
            </td>
        </tr>
    }
</table>

<nav>
    <ul class="pagination">
        <li>
            <a href="#" class="btnPaging" data-page="@(Model.ActivePage > 0 ? Model.ActivePage - 1 : 0)">&laquo;</a>
        </li>
        @for (int i = 0; i < Model.PageCount; i++)
        {

            <li class=@(i == Model.ActivePage ? "active" : "")>
                <a href="#" class="btnPaging" data-page="@i">@i</a>
            </li>
        }

        <li>
            <a href="#" class="btnPaging" data-page="@(Model.ActivePage >= Model.PageCount -1 ? Model.PageCount - 1 : Model.ActivePage + 1)">&raquo;</a>
        </li>
    </ul>
</nav>
