@using System.Threading
@using CallCenterCrm.Web.Areas.Manage.Models.Campaign

@model IEnumerable<IndexViewModel>

@{
    ViewBag.Title = "Campaigns";
}

@section styles
{
    @Styles.Render("~/Content/kendo")
}

<h2>Campaigns</h2>

<p>
    @Html.ActionLink("Create", "Create", null, new { @class = "btn btn-default" })
</p>

<p>
    Current culture: @this.Culture
</p>

@(Html.Kendo().Grid(Model)
    .Name("grid-campaigns")
    .Columns(columns =>
    {
        columns.Bound(c => c.StartDate);
        columns.Bound(c => c.EndDate);;
        columns.Bound(c => c.Description);
        columns.Bound(c => c.Product);
        columns.Bound(c => c.Price);
        columns.Bound(c => c.Script);
        columns.Bound(c => c.Active).ClientTemplate("");
        columns.Command(command => { command.Edit(); command.Destroy(); });
    })
    .Pageable(pageable => pageable
                              .Refresh(true)
                              .PageSizes(true)
                              .ButtonCount(5))
    .Sortable()
    .Editable(e => e.Mode(GridEditMode.PopUp))
    .DataSource(data => data.Server()
                            .PageSize(10)
                            .Model(model =>
                            {
                                model.Id(p => p.CampaignId);
                                model.Field(p => p.CampaignId).Editable(false);
                            })
                            .Update("Edit", "Campaigns")
                            .Destroy("Delete", "Campaigns"))
)

@section scripts {
    @Scripts.Render("~/bundles/kendo")
}
